In [34]:
import pandas as pd
df=pd.read_csv('Desktop/spam.csv')
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [35]:
df.shape

(5574, 2)

In [36]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4827   4518                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [37]:
df['spam']=df['Category'].apply(lambda x:1 if x=='spam' else 0)
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [38]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.Message,df.spam,test_size=0.25)

In [39]:
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer()
X_train_count=v.fit_transform(X_train.values)
X_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [40]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

In [41]:
emails=['Hey buddy, how are you','Upto 20% doscount on GILA shoes']
emails_count=v.transform(emails)
model.predict(emails_count)

array([0, 1], dtype=int64)

In [42]:
X_test_count=v.transform(X_test)
model.score(X_test_count,y_test)

0.9863701578192252

In [43]:
print(model.score(X_test_count,y_test)*100)

98.63701578192251

In [44]:
from sklearn.linear_model import LogisticRegression

In [47]:
lr=LogisticRegression()

In [48]:
lr.fit(X_train_count,y_train)

LogisticRegression()

In [52]:
emails=['Hey buddy, how are you?','Upto 20% doscount on GILA shoes!']
emails_count=v.transform(emails)
lr.predict(emails_count)

array([0, 0], dtype=int64)

In [53]:
lr.score(X_test_count,y_test)

0.9784791965566715

In [54]:
from sklearn.svm import SVC

In [55]:
svm=SVC()

In [64]:
svm.fit(X_train_count,y_train)
svm.score(X_test_count,y_test)

0.9799139167862266

In [65]:
#Hence, we come to know that performance of Naive Bayes is more than Logistic regression and svm machine learning algorithmns..

In [66]:
from sklearn.model_selection import KFold #Using KFold to evaluate the model...

In [67]:
kf=KFold(n_splits=10)

In [68]:
from sklearn.model_selection import cross_val_score
cross_val_score(MultinomialNB(),X_test_count,y_test)

array([0.97491039, 0.97491039, 0.97132616, 0.97491039, 0.96402878])

In [ ]:
#Hence, we come ton know that train_test_split yeilds better results as compared to KFOLD when no(folds) = 10, in case of Multinomial naive Bayes algo

In [70]:
from sklearn.model_selection import cross_val_score
cross_val_score(LogisticRegression(),X_test_count,y_test)

array([0.97491039, 0.95698925, 0.95698925, 0.98207885, 0.96043165])

In [ ]:
#In case of LogisticRegression too, train_test_split yeilds better results as compared to KFOLD cross validation if no(folds) = 10